
/* Testing different fonts*/
/* @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap'); */

/* Setting a new font for our website */
@font-face {
  font-family:"FirstFont";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/azeretmono/v1/3XF5ErsiyJsY9O_Gepph-FvtTQgMQUdNekSfnPRR27yby5s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family:"FirstFont";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/azeretmono/v1/3XF5ErsiyJsY9O_Gepph-FvtTQgMQUdNekSfnPRR1byb.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Changing the color and the padding of the header */
body header{
  background-color:var(--main_color);
  padding-bottom:10px;
  padding-top:5px;
  width:100%;
}

/* Changing the color,the padding and the width of the footer */
body footer {
  background-color:var(--main_color);
  padding-top:5px;
  padding-bottom:5px;
  width:100%;
  bottom:0;
  text-align: center;
  clear:both;
}

footer ul{
  list-style-position: inside;
}

body {
  /*New font added*/
  font-family: 'FirstFont', monospace;
  background-color:white;
  /* Gia na ginei borderless to site */
  margin:0em;
  /* adding a flex to position the footer always at the bottom of the page */
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  min-height: 100vh;
}

.logo{
  margin:01em;
  width:150px;
  height:150px;
  float:left;
}


main{
  flex:1;
}

/* Customizing each categories and subject image on the header of the page */
.menu_image{
  margin:01em;
  float:right;
}


.menu{
  /* display:grid; */
  margin:01em;
}

/* Assigning the image of each course to the correct place */
.course img{
  float:left;
  margin:0 1em;
}

/* Changing the color of all the links when you hover over them */
a:hover{
  background-color: orangered;
}

a:link{
  color:black;
}

/* When the link is visited the color changes */
a:visited{
  color:purple;
}

/* adding margin around each "course" to create a visually pleasing result */
.course{
  margin:01em;
}

.category{
  margin:01em;
}

.info{
  margin:01em;
  display:grid;
  grid-template-columns: auto auto;
  grid-column-gap:20px;
  justify-content:center;
}


/*----------------------------------------------------Testing Grid ----------------------------------------------------*/

/* Testing flex */
.front_page_recommendation{
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap:40px;
  justify-content: space-evenly;
}

.front_page_recommendation .recommendation{
  width:220px;
  margin:01em;
}

.front_page_recommendation a:hover {
  background-color:white;
}

.title{
  text-align:center;
}

/* Variable for the main color */
:root{
  --main_color:orange;
}

/* Using a grid to dispaly all the categories of a specific field */
.category_collection{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-column-gap:70px;
  margin:01em;
}

/* Askhsh 5 */

/* Managing the main content with a grid */
#container{
  display:grid;
  grid-template-columns:17% 61% 17%;
  grid-template-rows: 100%;
  grid-column-gap: 40px;
}

/* Designing the Submit button */
.sign_up_button{
  border: 4px solid orangered;
  background-color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Changing the bakcground color of the Submit button */
.sign_up_button:hover{
  background-color: orangered;
}

.form{
  margin:01em;
}

.form{
  display: grid;
  grid-template-columns: 100%;

}

/* Creating space between each question and changing the font size */
.spacing{
  margin-bottom: 01em;
  font-size: 1.1em;
}

/* Changing the font size of the fieldset title */
legend{
  font-size: 1.7em;
}

/* Designing the submit button */
#submit_button{
  float:right;
  margin-right:2em;
  margin-bottom:01em;
  height:50px;
  width:100px;
  font-size:1.2em;
}

#submit_button:hover{
  background-color: orangered;
  cursor:pointer;
}

.error {
  display: block;
  color: red;
  margin: 5px 0 0 0;
}

/* Customizing the sidebar menu */
#left-container{
  background-color: var(--main_color);
  margin-top:2em;
  clear:both;
  top:0;
  overflow-x: hidden;
  z-index: 1; 
  margin-left:10px;
  margin-right:15px;
  margin-bottom:20px; 
  text-align:center;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  font-size:1.1em;
}

/* Styling the links inside the sidebar */
#left-container a{
  display:block;
  padding:10px;
  font-size:1.1em;
}

#left-container article{
  margin-top:2em;
  margin-bottom:2em;
}


/* Changing the background color for links inside the right container */
/* #filler a:hover{
  background-color: var(--main_color);
  cursor:pointer;
} */


/*Making each individual sidebar use flex to display all the courses evenly */
/* Δεν μπορούσαμε να φτιάξουμε μια κοινή κλάση γιατί μετά δεν θα δούλευε το enableCorrectForm στο javascript αρχείο */
.Literature_sidebar{
  flex:2;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Computer_Science_sidebar{
  flex:2;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  position:sticky;
}

.Natural_Sciences_sidebar{
  flex:2;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

[hidden]{
  display:none;
}



/*---------------------------------------------------- Customizing the main content(Άσκηση 4 - Responsive Design) ----------------------------------------------------*/

/*------------------------------------Adding media queries for pc,tablets and phones------------------------------------*/

/* Media query for 2 columns for a tablet screen */
@media screen and (max-width: 992px){
  .category_collection{
    display:grid;
    grid-template-columns: auto auto;
    grid-column-gap:40px;
  }

  .front_page_recommendation{
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }

  .course_image{
    width:170px;
    height:170px;
  }

  /* Hiding both left and right containers when viewed by a phone */
  #left-container{
    display:none;
  }
    
  #filler{
    display:none;
  }

  /* raplacing the grid display with a block display */
  #container{
    display:block;
  }
}

/* media query for a single column for a smartphone screen */
@media screen and (max-width: 600px){
  .category_collection{
    display:grid;
    grid-template-columns: auto;
  }

  .front_page_recommendation{
    display:grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
  }

  /* Changing the width of the recommendation class in order for the content to spread evenly */
  .front_page_recommendation .recommendation{
    width:130px;
    margin:01em;
  }

  /* Changing the logo dimensions */
  .logo{
    margin:01em;
    width:100px;
    height:100px;
    float:left;
  }

  /* making images disappear when viewed by phone */
  .menu_image{
    display:none;
  }

  /*changing dimensions of each courses image */
  .course_image{
    width:130px;
    height:130px;
  }

}




