




/*---------------------------------------------------- – Μορφοποίηση περιεχομένου(Άσκηση 2) ----------------------------------------------------*/



/* Testing different fonts*/
/* @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap'); */

/* Setting a new font for our website */
@font-face {
  font-family:"FirstFont";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/azeretmono/v1/3XF5ErsiyJsY9O_Gepph-FvtTQgMQUdNekSfnPRR27yby5s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family:"FirstFont";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/azeretmono/v1/3XF5ErsiyJsY9O_Gepph-FvtTQgMQUdNekSfnPRR1byb.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Changing the color and the padding of the header */
body header{
  background-color:var(--main_color);
  padding-bottom:10px;
  padding-top:5px;
  width:100%;
}

/* Changing the color,the padding and the width of the footer */
body footer {
  background-color:var(--main_color);
  padding-top:5px;
  padding-bottom:5px;
  width:100%;
  bottom:0;
  text-align: center;
  clear:both;
}

/* So the bullets of the ul follow the text to the middle of the screen */
footer ul{
  list-style-position: inside;
}

body {
  /*New font added*/
  font-family: 'FirstFont', monospace;
  background-color:white;
  /* Gia na ginei borderless to site */
  margin:0em;
  /* adding a grid to avoid the footer situation */
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  min-height: 100vh;
}


/* Customizing the logo */
.logo{
  margin:01em;
  width:150px;
  height:150px;
  float:left;
}

main{
  flex:1;
}


/* Image describing each html page of subjects */
.menu_image{
  margin:01em;
  width:170px ;
  height:170px;
  float:right;
}


.menu{
  /* display:grid; */
  margin:01em;
}

/* Assigning the image of each course to the correct place */
.course img{
  float:left;
  margin:0 1em;
}

.category{
  margin:01em;
}

.info{
  margin:01em;
}

a:hover{
  background-color: orangered;
}

a:link{
  color:black;
}

a:visited{
  color:purple;
}

/* adding margin around each "course" to create a visually pleasing result */
.course{
  margin:01em;
}

/* Customizing the image of each course */
.course_image{
  width:210px;
  height:210px;
}

/* Customizing the biography */
.biography{
  margin:01em;
  font-size:1.2em;
}

/* Using a flex to display both the biographys correctly */
.biography_collection{
  display:flex;
  flex-direction: column;
}

/*----------------------------------------------------Testing Grid ----------------------------------------------------*/

/* Customizing the front page to show 4 recommended courses by using a grid */
.front_page_recommendation{
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap:40px;
  justify-content: space-evenly;
}

.front_page_recommendation .recommendation{
  width:220px;
  margin:01em;
}

.front_page_recommendation a:hover {
  background-color:white;
}

.title{
  text-align:center;
}

/* Variables bonus */
:root{
  --main_color:orange;
}

/* Using a grid to dispaly all the categories of a specific field */
.category_collection{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-column-gap:70px;
  margin:01em;
}

.logo{
  margin:01em;
  width:150px;
  height:150px;
  float:left;
}

/*---------------------------------------------------- Customizing the main content(Άσκηση 4 - Responsive Design) ----------------------------------------------------*/

/*------------------------------------Adding media queries for pc,tablets and phones------------------------------------*/

/* Media query for 2 columns for a tablet screen */
@media screen and (max-width: 992px){
  .category_collection{
    display:grid;
    grid-template-columns: auto auto;
    grid-column-gap:40px;
  }

  .front_page_recommendation{
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }

  .course_image{
    width:170px;
    height:170px;
  }
}

/* media query for a single column for a smartphone screen */
@media screen and (max-width: 600px){
  .category_collection{
    display:grid;
    grid-template-columns: auto;
  }

  .front_page_recommendation{
    display:grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
  }

  /* Changing the width of the recommendation class in order for the content to spread evenly */
  .front_page_recommendation .recommendation{
    width:130px;
    margin:01em;
  }

  /* Changing the logo dimensions */
  .logo{
    margin:01em;
    width:100px;
    height:100px;
    float:left;
  }

  /* making images disappear when viewed by phone */
  .menu_image{
    display:none;
  }

  /*changing dimensions of each courses image */
  .course_image{
    width:130px;
    height:130px;
  }
}

