
/* Testing different fonts*/
/* @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap'); */

/* Setting a new font for our website */
@font-face {
  font-family:"FirstFont";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/azeretmono/v1/3XF5ErsiyJsY9O_Gepph-FvtTQgMQUdNekSfnPRR27yby5s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family:"FirstFont";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/azeretmono/v1/3XF5ErsiyJsY9O_Gepph-FvtTQgMQUdNekSfnPRR1byb.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body header{
  background-color:var(--main_color);
  padding-bottom:10px;
  padding-top:5px;
}

body footer {
  background-color:var(--main_color);
  padding-top:5px;
  padding-bottom:5px;

}

body {
  /*New font added*/
  font-family: 'FirstFont', monospace;
  background-color:white;
  /* Gia na ginei borderless to site */
  margin:0em;
}

.menu_image{
  margin:01em;
  width:170px ;
  height:170px;
  float:right;
}


.menu{
  /* display:grid; */
  margin:01em;
}

/* Assigning the image of each course to the correct place */
.course img{
  float:left;
  margin:0 1em;
}

.category{
  margin:01em;
}

.info{
  margin:01em;
}

a:hover{
  background-color: orangered;
}

a:link{
  color:black;
}

a:visited{
  color:purple;
}

/* adding margin around each "course" to create a visually pleasing result */
.course{
  margin:01em;
}

/*----------------------------------------------------Testing Grid ----------------------------------------------------*/

/* .recommendation{
  /* min-width: 600px;
  display:grid;
  grid-template-columns: minmax(120px,170px) minmax(120px,170px) minmax(120px,170px) minmax(120px,170px);
  grid-column-gap:70px;
  justify-content: center;
  margin:01em;
} */ 

/* Testing flex */
.front_page_recommendation{
  display:flex;
  flex-wrap:wrap;
  flex-basis:100%;
  justify-content: space-evenly;
}

.front_page_recommendation .recommendation{
  width: 170px;
  margin:01em;
}

.front_page_recommendation a:hover {
  background-color:white;
}

.title{
  text-align:center;
}

/* Variables bonus */
:root{
  --main_color:orange;
}

/* Using a grid to dispaly all the categories of a specific field */
.category_collection{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-column-gap:70px;
  margin:01em;
}

/*---------------------------------------------------- Customizing the main content(Άσκηση 4 - Responsive Design) ----------------------------------------------------*/

/* Creating a margin between each column of the grid*/
/* .category_collection .category{
  margin:01em;
} */

/*------------------------------------Adding media queries for pc,tablets and phones------------------------------------*/

/* Media query for 2 columns for a tablet screen */
@media screen and (max-width: 992px){
  .category_collection{
    display:grid;
    grid-template-columns: auto auto;
    grid-column-gap:40px;
  }
}

/* media query for a single column for a smartphone screen */
@media screen and (max-width: 600px){
  .category_collection{
    display:grid;
    grid-template-columns: auto;
  }
}
