
/*Testing different fonts*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');

body header{
  background-color:var(--main_color);
  padding-bottom:10px;
  padding-top:5px;

}

body footer {
  background-color:var(--main_color);
  padding-top:5px;
  padding-bottom:5px;
}

body {
  /*New font added*/
  font-family: 'Azeret Mono', monospace;
  background-color:white;
  margin:0em;
}

.menu_image{
  margin:01em;
  width:170px ;
  height:170px;
  float:right;
}

.menu{
  /* display:grid; */
  margin:01em;
}

.category{
  margin:01em;
}

.info{
  margin:01em;
}

a:hover{
  background-color: orangered;
}

a:link{
  color:black;
}

a:visited{
  color:purple;
}

.course{
  margin:01em;
}

/* Testing Flex box */
/* grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* Testing Grid */
/* .recommendation{
  /* min-width: 600px;
  display:grid;
  grid-template-columns: minmax(120px,170px) minmax(120px,170px) minmax(120px,170px) minmax(120px,170px);
  grid-column-gap:70px;
  justify-content: center;
  margin:01em;
} */ 

/* Testing flex */
.front_page_recommendation{
  display:flex;
  flex-wrap:wrap;
  flex-basis:100%;
  justify-content: center;
}

.front_page_recommendation .recommendation{
  width: 170px;
  margin:01em;
}

.front_page_recommendation a:hover {
  background-color:white;
}

.title{
  text-align:center;
}

/* Variables bonus */
:root{
  --main_color:orange;
}