

/* .category {
    background-color:#2b6777;
    border-radius:10%;
    padding: 20px;
    margin:10px
  } */

/*Testing different fonts*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');

body header{
  background-color: orange;
  padding-bottom:5px;
  padding-top:5px;
}

body footer {
  background-color:orange;
  padding-top:5px;
  padding-bottom:5px;
}

body {
  /*New font added*/
  font-family: 'Azeret Mono', monospace;
  background-color:white;
  margin:0em;
}

.menu_image{
  margin:01em;
}

.menu{
  margin:01em;
}

.category{
  margin:01em;
}

.info{
  margin:01em;
}

nav a:hover{
  background-color: orangered;
}

.course{
  margin:01em;
}